BODY {
	BACKGROUND-REPEAT: repeat; BACKGROUND-COLOR: #e7e7f3
}
TABLE.yborder {
	BACKGROUND-COLOR: #3b3b77
}
TD {
	FONT-SIZE: 11px; COLOR: #3b3b77; FONT-FAMILY: verdana,arial,helvetica
}
TD.cornertl {
	BACKGROUND: url(../images/wt_aa_corner_tl.gif) #e7e7f3 left top
}
TD.cornertr {
	BACKGROUND: url(../images/wt_aa_corner_tr.gif) #e7e7f3 left top
}
TD.cornerbl {
	BACKGROUND: url(../images/wt_aa_corner_bl.gif) #e7e7f3 left top
}
TD.cornerbr {
	BACKGROUND: url(../images/wt_aa_corner_br.gif) #e7e7f3 left top
}
TD.rightTD {
	BACKGROUND: url(../images/wt_aa_gradright.gif) #e7e7f3 left top
}
TD.bottomTD {
	BACKGROUND: url(../images/wt_aa_gradbot.gif) #e7e7f3 left top
}
TD.tdAlt {
	LINE-HEIGHT: 16px
}
TH {
	FONT-WEIGHT: 500; FONT-SIZE: 15px; COLOR: #3b3b77; FONT-STYLE: oblique; FONT-FAMILY: 'Lucida Handwriting', 'Trebuchet MS', arial, verdana, helvetica; TEXT-ALIGN: center
}
TH.thAlt {
	COLOR: #3b3b77; BACKGROUND-COLOR: #fde9ad
}
TH.none {
	COLOR: #3b3b77; BACKGROUND-COLOR: #ffffff
}
IMG {
	BORDER-LEFT-COLOR: #3b3b77; BORDER-BOTTOM-COLOR: #3b3b77; BORDER-TOP-COLOR: #3b3b77; BORDER-RIGHT-COLOR: #3b3b77
}
A:link {
	FONT-WEIGHT: bold; COLOR: #3b3b77; TEXT-DECORATION: underline
}
A:active {
	FONT-WEIGHT: bold; COLOR: #3b3b77; TEXT-DECORATION: underline
}
A:visited {
	FONT-WEIGHT: bold; COLOR: #3b3b77; TEXT-DECORATION: underline
}
A:hover {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
A.nav:link {
	COLOR: #3b3b77; FONT-FAMILY: Trebuchet MS,arial,helvetica; TEXT-DECORATION: none
}
A.nav:active {
	COLOR: #3b3b77; FONT-FAMILY: Trebuchet MS,arial,helvetica; TEXT-DECORATION: none
}
A.nav:visited {
	COLOR: #3b3b77; FONT-FAMILY: Trebuchet MS,arial,helvetica; TEXT-DECORATION: none
}
A.nav:hover {
	COLOR: #000000; FONT-FAMILY: Trebuchet MS,arial,helvetica; TEXT-DECORATION: underline
}
A.navAct:link {
	COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Trebuchet MS,arial,helvetica; TEXT-DECORATION: none
}
A.navAct:active {
	COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Trebuchet MS,arial,helvetica; TEXT-DECORATION: none
}
A.navAct:visited {
	COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Trebuchet MS,arial,helvetica; TEXT-DECORATION: none
}
A.navAct:hover {
	COLOR: #3b3b77; FONT-STYLE: normal; FONT-FAMILY: Trebuchet MS,arial,helvetica; TEXT-DECORATION: underline
}
INPUT {
	FONT-SIZE: 11px; COLOR: #3b3b77; FONT-FAMILY: Arial,Helvetica,sans-serif; BACKGROUND-COLOR: #e9e9f4
}
INPUT.button {
	FONT-WEIGHT: bold; CURSOR: hand; COLOR: #3b3b77; BACKGROUND-COLOR: #b4b4d9
}
INPUT.button:hover {
	FONT-WEIGHT: bold; CURSOR: hand; COLOR: #b4b4d9; BACKGROUND-COLOR: #3b3b77
}
SELECT {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #3b3b77; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e9e9f4
}
TEXTAREA {
	FONT-SIZE: 11px; COLOR: #3b3b77; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e9e9f4
}
.red {
	COLOR: #993300
}
.white {
	COLOR: #ffffff
}
.bgWhite {
	BACKGROUND-COLOR: #ffffff
}
.err {
	FONT-WEIGHT: bold; COLOR: #990000
}
.title {
	FONT-SIZE: 16px
}
.brunTitle {
	FONT-SIZE: 16px; COLOR: #a36209
}
.smallText {
	FONT-SIZE: 10px
}
.smallTextwhite {
	FONT-SIZE: 10px; COLOR: #ffffff
}
.siteTitle {
	FONT-SIZE: 24px; COLOR: #3b3b77; FONT-FAMILY: Monotype Corsiva,Trebuchet MS,verdana,arial,helvetica
}
HR {
	COLOR: #3b3b77; HEIGHT: 1px
}
.radiobutton {
	BACKGROUND-COLOR: white
}
